h1{
    text-align: center;
}



#name{
    
    text-align: right;
    position: fixed;
    right:68%;
    
}

#io_area{
    
 position: fixed;
  /*top: 50%;*/
  left: 42%;
}

#Help{
    position: fixed;
    left: 65%;
}

#io{
   text-align: left; 
   font-size:20px;
}